/* Home */
.Home .home_element_wrap{
    width: 1200px;
    margin: 0 auto;
}

/* LiveNow */
.LiveNow {
    display: flex;
}
.LiveNow .LiveNow_img_wrap{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.LiveNow .live_now{
width: 157px;
height: 40px;
margin-bottom: 10px;
}
.LiveNow .live_now_img1{
    width: 822px;
    height: 462px;
}
.LiveNow .LiveNow_right{
    width: 380px;
    height: 462px;
    background-color: rgb(33, 31, 31);
    margin-top: 80px;
    margin-left: 10px;
}
.LiveNow .LiveNow_right_ele{
    display: flex;
}
.LiveNow .LiveNow_right_ele_text {
font-size: 14px;
margin-top: 5px;
}
.LiveNow .LiveNow_right_ele_text span{
    display: inline-block;
    font-size: 10px;
    color: gray;
    margin-top: 10px;
}
.LiveNow .live_now_img2, .live_now_img3{
    width: 183px;
    height: 103px;
    margin: 10px 10px 0px 10px;
}
.LiveNow .live_now_img1_text{
    display: flex;
}
.LiveNow .live_now_img1_text p{
    margin-top: 10px;
}
.LiveNow .live_now_img1_text span{
    font-size: 22px;
    font-weight: bold;
}
.LiveNow .live{
    width: 38px;
    height: 18px;
    margin-top: 15px;
    margin-right: 20px;
}

/* VideoSlide */
.VideoSlide{
    margin-top: 40px;
    height: 300px;
}
.VideoSlide .title{
    font-size: 25px;
    font-weight: bold;
}
.VideoSlide .slide{
    display: flex;
}

.VideoSlide .slide img{
    margin-right: 10px;
    width: 290px;
    height: 161px;
    margin-bottom: 0;
}
.VideoSlide .slide .text{
    width: 290px;
    height: 70px;
    background-color: rgb(33, 31, 31);
}
.VideoSlide .slide .text p{
    margin-top: 0;
    margin-left: 10px;
}
.VideoSlide .slide .text .text_1{
    display: inline-block;
    line-height: 12px;
    color: #2f8f71;
    font-size: 10px;
    margin-bottom: 0;
}
.VideoSlide .slide .text .text_2{
    width: 95%;
    height: 25px;
    line-height: 14px;
    margin-bottom: 7px;
    font-size: 12px;
}
.VideoSlide .slide .text .text_3{
    width: 95%;
    font-size: 11px;
    color: #888888;
    margin-top: 0;
}