/* Navigation */
.Home{
    background-color: rgb(17, 17, 17);
    color: white;
}
.Home header{
    width: 100%;
    height: 10vh;
}
.Home ul .nav_left, .nav_right{
    display: flex;
    list-style: none;
}
.Home ul .nav_left{
    float: left;
}
.Home ul .nav_right{
    float: right;
    margin-right: 50px;
}
.Home li{
    margin-left: 30px;
    font-size: 17px;
    margin-top: 15px;
    font-weight: bold;

}
.Home li a{
    text-decoration: none;
    color: white;
}
.Home ul img {
    width: 180px;
    height: 53px;
    margin: 0;
}
.Home .dropdown button{
    border: none;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top : -10px;
}
.Home .dropdown .dropdown-button img{
    width: 25px;
    height: 25px;
    border-radius: 12px;
    position: relative;
    bottom: -7px;
    left: -5px;

}
.Home .dropdown button span{
    position: relative;
    top : -2px
}
.Home .dropdown {
    position: relative;
    display: inline-block;
  }
.Home .dropdown .dropdown-menu {
    list-style: none;
    position: absolute;
    top: 100%; /* 드롭다운 메뉴를 버튼 아래로 위치 */
    left: -35px;
    padding: 20px 5px 20px 5px;
    margin: 0;
    background-color: rgb(33, 31, 31);
    border-radius: 10px;
    width: 150px;
}
.Home .dropdown .dropdown-menu img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: 50px;
}
.Home .dropdown .dropdown-menu li{
    margin-left: 40px;

}
